<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizMillionPro">

        <!-- Main entry point -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.QuizMillionPro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Additional activities -->
        <activity android:name=".WinScreen" />
        <activity android:name=".LoseScreen" />

        <!-- Question screens -->
        <activity android:name=".Question1Screen" />
        <activity android:name=".Question2Screen" />
        <activity android:name=".Question3Screen" />
        <activity android:name=".Question4Screen" />
        <activity android:name=".Question5Screen" />
        <activity android:name=".Question6Screen" />
        <activity android:name=".Question7Screen" />
        <activity android:name=".Question8Screen" />
        <activity android:name=".Question9Screen" />
        <activity android:name=".Question10Screen" />

    </application>

</manifest>
